.banner {
  margin: 0 auto;
  max-width: fit-content;
  @include flex;
  flex-wrap: wrap-reverse;
  gap: 32px;
  margin: 192px 0 96px 0;
  .text {
    margin-left: 64px;
    text-align: start;
    h1 {
      width: fit-content;
    }
    h2 {
      margin: 0;
      color: $gray;
      width: fit-content;
    }
    span {
      font-size: 30px;
      padding: 0 8px;
      color: $white;
    }
    .phrase {
      color: $white;
    }
  }
  svg {
    width: 320px;
    image {
      x: -100;
      y: -60;
    }
    polygon {
      stroke: $primary !important;
      stroke-width: 6px !important;
    }
  }
}
