.cards {
  @include flex;
  gap: 64px;
  margin: 0 auto;
  flex-wrap: wrap;
  width: fit-content;
}

.card {
  @include flex;
  flex-direction: column;
  position: relative;
  box-shadow: $shadow;
  width: 320px;
  background: $dark-gray;
  transition: 200ms;
  img {
    width: 100%;
    height: 192px;
    object-fit: cover;
    transition: 200ms;
  }
  .info {
    @include flex(space-between, stretch);
    flex-direction: column;
    text-align: center;
    background-color: $dark-gray;
    width: 100%;
    .header {
      @include flex(space-between);
      @include bcb($black, $white, $primary);
      border-left: none;
      border-right: none;
      border-top: none;
      padding: 12px 8px 2px 8px;

      path {
        fill: $black;
      }
    }
    .langs {
      @include flex(flex-start, flex-start);
      height: 48px;
      flex-wrap: wrap;
      margin: 12px 10px;
      p {
        @include flex;
        gap: 4px;
        color: $gray;
        padding: 0 4px;
        svg {
          width: 24px;
          height: 24px;
        }
        &:hover {
          color: $primary;
          transform: scale(1.01);
        }
      }
    }
    .btns {
      @include flex;
      gap: 8px;
      margin-bottom: 8px;
      a {
        @include bcb($black, $primary, $primary);
        padding: 5px 10px;
        flex-grow: 1;
      }
      #left {
        text-align: right;
        background: linear-gradient(90deg, $black 50%, $primary 50%);
        background-size: 200% 100%;
        transition: 100ms;
        &:hover {
          background: linear-gradient(90deg, $black 49%, $primary 49%);
          background-size: 200% 100%;
          background-position: 100% 0%;
          transition: 200ms;
          color: $black;
        }
      }
      #right {
        text-align: left;
        background: linear-gradient(270deg, $black 50%, $primary 50%);
        background-size: 200% 100%;
        background-position: 100% 0%;
        &:hover {
          background: linear-gradient(270deg, $black 49%, $primary 49%);
          background-size: 200% 100%;
          background-position: 0% 0%;
          transition: 200ms;
          color: $black;
        }
      }
      svg {
        padding: 4px;
        border: 2px solid $primary;
        background: linear-gradient($black 50%, $primary 50%);
        background-size: 100% 200%;
        transition: 100ms;

        path {
          fill: $primary;
        }
        &:hover {
          background-position: 0% 100%;
          transition: 200ms;
          path {
            fill: $black;
          }
        }
      }
    }
  }
}

.card-show {
  @include flex;
  flex-direction: row;
  position: relative;
  min-width: fit-content;
  width: 100%;
  min-height: 420px;
  height: 100%;
  z-index: 3;
  transition: 500ms;
  margin-top: -1000px;
  @media (max-width: 960px) {
    flex-direction: column;
    height: 100%;
    min-height: fit-content;
    .image-wrapper,
    .info {
      flex-grow: 1 !important;
      height: 100% !important;
      min-height: unset !important;
    }
  }
  .image-wrapper {
    @include flex(flex-start);
    flex-grow: 2;
    position: relative;
    overflow: hidden;
    min-width: 420px;
    height: 100%;

    .images {
      transition: 500ms;
      @include flex(flex-start);
      min-height: 100%;
      height: 100%;
      img {
        min-height: 100%;
        min-width: 100%;
        object-fit: cover;
      }
    }
    .small-arrows {
      @include flex(space-between);
      position: absolute;
      width: 100%;
      height: 100%;
      z-index: 3;
      .wrapper {
        @include flex;
        flex-direction: column;
        height: 100%;
        cursor: pointer;
        border: none;
        .arrow {
          @include flex;
          padding: 8px 6px 8px 4px;
          background: linear-gradient(
            90deg,
            rgba($black, 0.8) 50%,
            $primary 50%
          );
          background-size: 200% 100%;
          transition: 100ms;
          path {
            fill: $primary;
          }
          &:hover {
            background-position: 100% 0%;
            transition: 200ms;
            path {
              fill: $black;
            }
          }
        }
        &:nth-child(1) {
          background: linear-gradient(-90deg, transparent, rgba($black, 0.8));
          padding-right: 48px;
          path {
            transform: rotate(-90deg);
            transform-origin: 50% 50%;
          }
        }
        &:nth-child(2) {
          background: linear-gradient(90deg, transparent, rgba($black, 0.8));
          padding-left: 48px;
          border-left: none;
          path {
            transform: rotate(90deg);
            transform-origin: 50% 50%;
          }
        }
      }
    }
    .markers {
      @include flex;
      z-index: 4;
      gap: 8px;
      position: absolute;
      bottom: 0;
      right: 41%;
      left: 41%;
      min-width: fit-content;
      min-height: fit-content;
      padding: 8px 12px 6px 12px;
      background: rgba($black, 0.8);
      .marker {
        width: 12px;
        aspect-ratio: 1;
        opacity: 0.6;
        filter: grayscale(1);
        cursor: pointer;
      }
      .active {
        opacity: 1;
        filter: none;
      }
      .cls-1 {
        fill: $primary;
        stroke: $primary;
        stroke-width: 2;
      }
      .cls-2 {
        fill: $orange;
        stroke: $orange;
        stroke-width: 2;
      }
      .cls-3 {
        fill: $yellow;
        stroke: $yellow;
        stroke-width: 2;
      }
    }
  }

  .info {
    flex-grow: 1;
    min-width: 320px;
    height: 100%;
    .header {
      padding: 2px;
      padding-top: 8px;
      path {
        fill: $primary;
      }
      .exit {
        position: absolute;
        right: 0;
        padding-bottom: 6px;
        padding-right: 8px;
      }
    }
    .desc {
      background-color: $white;
      border-bottom: 2px solid $primary;
      height: 100%;
      padding: 8px 16px;
      color: $gray;
      text-align: justify;
      hyphens: auto;
    }
  }
}

.overlay {
  position: fixed;
  @include flex;
  flex-direction: column;
  background: rgba(black, 0.9);
  opacity: 0;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  max-height: 0;
  z-index: 10;
  transition: 500ms;
  padding: 64px;
  .big-arrow {
    position: relative;
    width: 64px;
    height: 64px;
    margin: 16px;
    transform: rotate(90deg);
    cursor: pointer;

    &:first-child {
      transform: rotate(-90deg);
    }

    &:hover {
      @include up-and-down;
    }

    .cls-1 {
      fill: $primary;
      stroke: $primary;
    }
    .cls-2 {
      fill: $yellow;
      stroke: $yellow;
    }
  }
}

.overlay-enter {
  max-height: inherit;
  opacity: 1;
}

.card-enter {
  margin-top: 0;
  transition: 500ms;
}
