nav {
  @include flex(space-between);
  height: fit-content;
  padding: 8px 128px;
  background: $dark-gray;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
}

.tabs {
  @include flex;
  gap: 24px;
  height: fit-content;
  a {
    text-decoration: none;
  }
  .active {
    h2 {
      border-bottom: 2px solid $primary;
      // color: $primary;
    }
  }
}
