.navbar {
  @include flex(space-between, flex-end);
  height: fit-content;
  padding: 8px 128px;
  background: $dark-gray;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1;
  .tabs {
    @include flex;
    gap: 24px;
    height: fit-content;
    a {
      padding: 4px 8px;
    }
    .active {
      h2 {
        border-bottom: 2px solid $primary;
        // color: $primary;
      }
    }
  }
}

.navbarColumn {
  @include flex(space-between);
  flex-direction: column;
  width: fit-content;
  background: $dark-gray;
  padding: 64px 8px 16px 8px;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  .top {
    text-align: center;
  }
  .tabs {
    @include flex;
    flex-direction: column;
    margin-top: 128px;
    gap: 4px;
    width: fit-content;
    a {
      border-bottom: 2px solid $black;
      padding: 4px 0;
      width: 100%;
      text-align: center;
      h3 {
        color: $gray;
      }
    }

    .active {
      h2 {
        border-bottom: 2px solid $primary;
        // color: $primary;
      }
      h3 {
        color: $primary;
      }
    }
  }
  .icons {
    justify-self: flex-end;
    cursor: pointer;
    svg {
      &:hover {
        path {
          fill: $primary;
        }
      }
    }
    path {
      fill: $gray;
    }
  }
}
