@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");

$black: #262729;
$primary: #feb701;
$gray: #7c7d80;
$white: #f5f6fa;

$header-font: "Bebas Neue", cursive;
$main-font: Calibri, sans-serif;

h1 {
  font-family: $header-font;
  color: $primary;
  font-size: 64px;
  line-height: 100%;
  letter-spacing: 0.02em;
  margin: 0 auto;
}

h2 {
  font-family: $header-font;
  color: $white;
  font-size: 28px;
  line-height: 110%;
  letter-spacing: 0.04em;
  margin: 0 auto;
}

h3 {
  font-family: $header-font;
  color: $primary;
  font-size: 16px;
  letter-spacing: 0.06em;
  margin: 0 auto;
}

p {
  font-family: $main-font;
  color: $white;
  font-size: 16px;
}
body {
  background: $black;
  margin: 0 auto;
}
