.lil-container {
  @include flex;
  flex-direction: column;
  width: 100%;
}

.box {
  @include flex(flex-start);
  flex-direction: column;
  width: 100%;
  // min-height: 100vh;
  height: fit-content;
  position: relative;
  gap: 48px;
  .title {
    color: $white;
    border-bottom: 2px solid $primary;
    width: fit-content;
    padding: 0 16px;
    margin: 0;
  }
}

.btn-scroll {
  z-index: 2;
  @include flex;
  position: fixed;
  bottom: 0;
  left: 50%;
  right: 50%;
  width: 64px;
  height: 64px;
  background: $white;
  border: 2px solid $secondary;
  border-radius: 50%;
  margin: 32px 0;
  box-shadow: $shadow;
  cursor: pointer;
  animation: hover-small infinite 2s;
  &:hover {
    animation: hover infinite 2s;
  }
  svg {
    width: 32px;
    transform: rotate(90deg) translateX(4px);
  }
  .cls-1 {
    fill: $primary;
  }
  .cls-2 {
    fill: $secondary;
  }
}

.about {
  padding: 48px;
  background-color: $black;
  text-align: start;
  width: fit-content;
  box-shadow: $shadow;
  border-left: 32px solid $dark-gray;
  border-right: 32px solid $dark-gray;
  h3 {
    width: 85%;
    text-align: start;
    color: $gray;
    padding: 4px 0;
  }
}
